<div class="container">
  <ul>
    <li class="container w-75 mx-auto" *ngFor="let movie of movies; last as isLast">
      <div class="card my-4 bg-light">
        <a [routerLink]="['/movies', movie.id]">
           <div class="card-body row g-0 text-dark">
            <div class="col-md-4 col-lg-3 col-xl-2">
              <img class="img-fluid rounded" src="{{ movie.imagePath }}" alt="Poster image for movie '{{ movie.title }}'">
            </div>
            <div class="col-md-8 col-lg-9 col-xl-10 px-3 pt-sm-2 pt-md-0">
              <h3 class="card-title">{{ movie.title }}</h3>
              <h6 class="card-subtitle mb-3 text-muted">{{ movie.genres }}</h6>
              <p class="card-text">
                Released: {{ movie.releaseTime | date }} <br>
                Director: {{ movie.director }} <br>
                Running Time: {{ movie.runningTime }} minutes
              </p>
            </div>
          </div>
        </a>
          <div class="card-footer">
            <ng-container *ngIf="movie.screenings.length == 0">
              No available screenings.
            </ng-container>
            <ng-container *ngIf="movie.screenings.length > 0">
              <a class="my-3 mx-2" [routerLink]="['/movies', movie.id, s.id]" mat-flat-button color="primary" *ngFor="let s of movie.screenings | screenings:0:this.screeningHelper.screeningFilter">
                {{ s.date | date:'shortTime' }}
              </a>
            </ng-container>
          </div>
        </div>
      <hr *ngIf="!isLast" class="hr" />
    </li>
  </ul>
</div>