<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{title}}</a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="toggler.toggle()"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation">

        <i class="fas fa-bars"></i>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbar"
        mdbCollapse
        #toggler="mdbCollapse">

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li *ngFor = "let items of menuItems" class="nav-item">
                <a class="nav-link" [routerLink]="[items.linkURL]" routerLinkActive="active-page" ariaCurrentWhenActive="page"> 
                    {{items.linkName}}
                </a>
            </li>
        </ul>
      </div>
    </div>
</nav>