<div class="container mt-5">
    <h2>Screenings</h2>
    <mat-tab-group dynamicHeight>
        <ng-container *ngFor="let oneComponent of amountOfRepetetions; index as i">
            <mat-tab label="{{ getWeekday(i) }}"> 
                <div class="container">
                    <a class="my-3 mx-2" [routerLink]="['/screenings', s.id]" [state]="s" mat-flat-button color="primary" *ngFor="let s of screenings | screenings:i:screeningFilter.bind(this)">
                        {{ s.date | date:'shortTime' }}
                    </a>
                </div>
            </mat-tab>
        </ng-container>
    </mat-tab-group>
</div>