<div class="container mt-5">
    <h2>Screenings</h2>
    <mat-tab-group dynamicHeight>
        <ng-container *ngFor="let d of screeningHelper.days; index as i">
            <mat-tab label="{{ screeningHelper.getWeekday(i) }}"> 
                <div class="container">
                    <a class="my-3 mx-2" [routerLink]="['/movies', movieId, s.id]" mat-flat-button color="primary" *ngFor="let s of screenings | screenings:i:screeningHelper.screeningFilter">
                        {{ s.date | date:'shortTime' }}
                    </a>
                </div>
            </mat-tab>
        </ng-container>
    </mat-tab-group>
</div>